{% extends 'base.html.twig' %}

{% block title %}Nouveau mot{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Nouveau mot</h1>

    {{ include('word/_form.html.twig') }}
{% endblock %}