/* login page */

body
{
    overflow:hidden;
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1
{
    margin-left: 150px;
    font-weight: normal;
}

*:focus
{
    outline: none;
}

.planet
{
    width: auto;
    height: 500px;
    position: absolute;
    bottom: -200px;
    left: 80%;
    transform: translate(-50%, 0);
    z-index: -999;
}

.rightCorner
{
    width: 500px;
    position: absolute;
    right: 0;
    top: -3px;
}

.leftCorner
{
    width: 300px;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.logo > img
{
    width: 500px;
}

.logo
{
    text-align: center;
}

.signInButton
{
    padding: 15px 0;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 14px 26px -11px rgba(0,0,0,0.42);
}

.signInButton
{
    border: 2px solid #B63966;
    background-color: #B63966;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.signInButton
{
    border: 2px solid #B63966;
    background-color: #B63966;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease-out;
}

.signInButton:hover
{
    background-color: #CE7F9C;
    border: 2px solid #CE7F9C;
    transition: all 0.3s ease-out;
}

.signUpButton
{
    text-align: center;
    color: #B63966;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.signUpButton:hover
{
    color: #CE7F9C;
    transition: all 0.3s ease-out;
}

.loginForm
{
    width: 25%;
    border-radius: 40px;
    background-color: white;
    box-shadow: 23px 23px 26px -11px rgba(0,0,0,0.2);
    padding: 50px 30px;
    margin-bottom: 50px;

    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
}

.firstForm > div,
.firstForm > a
{
    display: block;
}

.firstForm > form > div > input,
.firstForm > form > button
{
    width: 100%;
}

.firstForm > form
{
    padding: 0px 50px 30px 50px;
}

.firstForm > form > div > input
{
    padding: 15px 0px;
    border-radius: 40px;
    border: 1px solid #B63966;
}

.firstForm > form > div
{
    margin-bottom: 20px;
}

@media screen and (max-width: 1265px)
{
    .planet
    {
        width: 400px;
        height: auto;
        bottom: -150px;
        left: 70%;
        transform: translate(-50%, 0);
    }

    .loginForm
    {
        width: 50%;
    }
}

/* registration page */

.flex
{
    display: flex;
    align-items: center;
}

.flexForm, .homeButtons
{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    align-items: center;
}

.registerImage
{
    position: relative;
}

.registerImage > img
{
    width: 100%;
    height: auto;
    margin-left: 100px;
}

.registerImage > p
{
    position: absolute;
    left: 70%;
    bottom: 40%;
    font-size: 3em;
    color: white;
    transform: translate(-50%, 50%);
    width: 100%;
}

.registerForm
{
    width: 100%;
    border-radius: 40px;
    background-color: white;
    box-shadow: 23px 23px 26px -11px rgba(0,0,0,0.2);
    padding: 50px 30px;
    margin-bottom: 50px;
}

.registerForm > h1
{
    padding-left: 50px;
}

.registerLogo > img
{
    width: 300px;
}

.backLink
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: all 0.3s ease-out;
}

.backLink:hover
{
    color: #B63966;
    transition: all 0.3s ease-out;
}

/* navbar */

.navbar
{
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-bottom: 50px;
    background-image: url(../images/forme_nav.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

.navbar > ul > li
{
    display: inline-block;
}

.navbar > ul > li > a
{
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    color: black;
    transition: all 0.3s ease-out;
}

.navbar > ul > li > a:hover
{
    color: #B63966;
    transition: all 0.3s ease-out;
}

.navbar > img
{
    height: 80px;
    width: auto;
}

/* homepage */

.homePlanet
{
    width: 40%;
}

.homeImages
{
    display: flex;
    align-items: center;
}

.homeButtons
{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.homeButtons > a
{
    padding: 80px 100px;
    color: white;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2) ;
}

.homeButtons > a:first-child
{
    border: 1px solid #E9BC27;
    background-color: #E9BC27;
}

.homeButtons > a:nth-child(2)
{
    border: 1px solid #35A5AA;
    background-color: #35A5AA;
}

.homeButtons > a:last-child
{
    border: 1px solid #B63966;
    background-color: #B63966;
}

/* quiz */
.answerSentence
{
    display: none;
}

.answer
{
    color: #B63966;
}

.questionNumber
{
    border-bottom: 1px solid #707070;
    width: 200px;
    padding-bottom: 10px;
}

.question > input
{
    border: 2px solid #6A6A6A;
    border-radius: 23px;
    background-color: white;
    height: 100px;
    width: 400px;
    padding: 20px;
}

.quiz .slick-prev
{
    display: none !important;
}

.validateQuestionButton, .quiz .slick-next, .validateQuestionEnd, .goToScore, .restart, .startQuiz
{
    padding: 15px 0px;
    border-radius: 40px;
    border: 2px solid #B63966;
    background-color: #B63966;
    color: white;
    width: 200px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    transition: all 0.3s ease-out;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2) ;
}

.validateQuestionButton:hover, .quiz .slick-next:hover, .validateQuestionEnd:hover, .goToScore:hover, .exit,
.restart:hover, .startQuiz:hover
{
    padding: 15px 0px;
    border-radius: 40px;
    border: 2px solid #B63966;
    background-color: transparent;
    color: #B63966;
    width: 200px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.validateButtonDisabled, .startQuizDisabled
{
    background-color: #6A6A6A !important;
    border-color: #6A6A6A !important;
    cursor: not-allowed !important;
}

.validateButtonDisabled:hover, .startQuizDisabled:hover
{
    color: white !important;
}

.quiz .slick-next
{
    display: none !important;
}

.finalScore, .goToScore, .hiddenInput
{
    display: none;
}

/* lists page */
.listsContainer
{
    background-color: white;
    border-radius: 40px;
    box-shadow: 23px 23px 26px -11px rgba(0,0,0,0.2);
    margin: 50px 150px;
    height: 50vh;
    padding: 30px;
}

.listsContainer form ul
{
    list-style:none;
}

.listsContainer form ul li
{
    list-style: none;
}

.blueNotebook, .blueNotebook + label
{
    background-image: url(../images/notebook_blue.png);
    background-repeat: no-repeat;
}

.redNotebook, .redNotebook + label
{
    background-image: url(../images/notebook_red.png);
    background-repeat: no-repeat;
}

.yellowNotebook, .yellowNotebook + label
{
    background-image: url(../images/notebook_yellow.png);
    background-repeat: no-repeat;
}

.listsContainer input[type=checkbox]
{
    display: none;
}

.listsContainer input[type=checkbox] + label
{
    height: 186px;
    width: 141px;
    display: inline-block;
    padding: 0;
    margin: 20px 20px 0 20px;
    cursor: pointer;
}

.listsContainer li
{
    border-radius: 8px;
}

.listsContainer ul
{
    display: flex;
}

.listLabel
{
    text-align: center;
    margin: 0;
}

.startQuiz
{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* the quiz has begun */
.quizContainer
{
    background-color: white;
    border-radius: 40px;
    box-shadow: 23px 23px 26px -11px rgba(0, 0, 0, 0.2);
    margin: 50px 150px;
    height: 70vh;
    padding: 30px;
}

.yellowBorder
{
    border: 2px solid #E9BC27;
    border-radius: 29px;
    margin-left: 0;
    width: fit-content;
    text-align: center;
    padding: 5px 15px;
}

.redBorder
{
    border: 2px solid #B63966;
    border-radius: 29px;
    margin-left: 0;
    width: fit-content;
    text-align: center;
    padding: 5px 15px;
}

.blueBorder
{
    border: 2px solid #35A5AA;
    border-radius: 29px;
    margin-left: 0;
    width: fit-content;
    text-align: center;
    padding: 5px 15px;
}