{% extends "base.html.twig" %}

{% block body %}
    <h1>Page d'accueil</h1>

    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
        </ul>
    </nav>
{% endblock %}