{% extends "base.html.twig" %}

{% block body %}
    {{ include('default/_navbar.html.twig') }}

    <h1>{{ list.name }}</h1>

    {% for word in words %}
        <p>{{ word.fromWord }}</p>
        
    {% endfor %}

{% endblock %}