{% extends 'base.html.twig' %}

{% block title %}Contactez Manabi{% endblock title %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}