{{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        <button class="editProfileButton">Valider</button>
{{ form_end(form, {'render_rest': false}) }}