{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

    {{ include('default/_navbar.html.twig') }}

    <h1>Modifier mon profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('show_profile') }}">Retour</a>
{% endblock %}